/* pc */
@media screen and (min-width: 1024px){
    .wrap{
        width: 1000px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 150px 0 0 0;
        position: relative;
    }
    header{
        border: none;
    }
    h1{
        width: 1000px;
        margin: 0 auto;
        font-size: 2rem;
    }
    h1 p{
        font-size: 1rem;
    }
    .wrap-content , .wrap-search{
        width: 69%;
    }
    .wrap-result{
        width: 69%;
        position: absolute;
        left: 0;
    }
    .article{
        width: 100%;
    }
    .article h3{
        margin:  22px 0;
    }
    h3{
        background-color: #f9f9f9;
    }
    #all-site div{
        width: 70%;
        /* background-color: #fff; */
        margin-top: 125px;
        padding-top: 0;
    }
    .others , #sub-menu{
        display: none;
    }
    .menu{
        width: 100%;
    }

    .menu .menu-content{
        border: none;
    }
    .menu button{
        height: 200px;
    }
    .sub-menu-pc{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        padding-top: 160px;
        padding-left: 10px;
        box-sizing: border-box;
        border-left: 1px solid #aaa;
    }
    .sub-menu-pc li{
        font-size: 1rem;
        line-height: 50px;
        margin-bottom: 10px;
        border-bottom: 1px solid #aaa;
        background-color: #ddd;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .sub-menu-pc a{
        text-decoration: none;
        color: #252525;
        font-weight: bold;
    }
}