/***** アニメーション *****/

@keyframes fadein{
    0%{transform: translateY(3px); opacity: 0.5;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes fadein2{
    0%{opacity: 0.5;}
    100%{opacity: 1;}
}
@keyframes fadeout{
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}

@keyframes search{
    10%{transform: translateX(-10px)rotateZ(-45deg);}
    20%{transform: translateX(-10px) translateY(-10px)rotateZ(-45deg);}
    30%{transform: translateX(0px) translateY(-10px)rotateZ(-45deg);}
    40%{transform: translateX(0px) translateY(0px)rotateZ(-45deg);}
    40%{transform: translateY(-10px)rotateZ(-45deg);}
    45%{transform: translateY(0)rotateZ(-45deg);}
    50%{transform: translateY(-10px)rotateZ(-45deg);}
    55%{transform: translateY(0)rotateZ(-45deg);}
}

/* ハンバーガーメニュー */
#hamburger-menu,#hamburger-trigger,#hamburger-close{
    display: none;
}




/***** 共通 *****/
html{
    margin: 0;
}
body{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
}
.wrap{
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    padding-top: 82px;
    padding-bottom: 80px;
    box-sizing: border-box;
    margin: 0 auto;
}
.wrap-content{
    width: 100%;
    padding-bottom: 0;
}
h2,h3,h4,p,li{
    color: #252525;
}
h3{
    border-left: 5px solid #2cb44c;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}



/***** ヘッダー *****/
header{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: #f9f9f9;
    display: flex;
}
h1{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    font-size: 1em;
}
h1 a{
    color: #252525;
    text-decoration: none;
}
h1 i{
    margin-right: 10px;
}
h1 p{
    width: 100%;
    margin: 0 auto;
    color: #252525;
    margin-top: 10px;
    font-size: 0.7rem;
}



/***** メインメニュー *****/
.wrap-content .mylist{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mylist div{
    width: 100%;
    margin: 5px 0px;
    border: none;
    color: #252525;
    box-sizing: border-box;
    position: relative;
}

.sitename{
    width: 100%;
    line-height: 75px;
    color: #252525;
    font-size: 1.2em;
    text-align: start;
    background-color: #f9f9f9;
    animation: 0.5s ease-in-out fadein;
    font-weight: bold;
    border: 1px solid #aaa;
}
.yahoo{
    background-color:  #d16c6c;
}
.sankei{
    background-color:  #7d7eba;
}
.gizmodo{
    background-color:  #926cbc;
}
.cnn{
    background-color:  #ed7c4f;
}
.cnn-en{
    background-color:  #c77bc7;
}
.sitename.change-backgroud{
    opacity: 0.2;
}

.menu{
    position: relative;
    width: 100%;
}
.menu button{
    width: 100%;
    display: flex;
}
.menu button .menu-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.menu .menu-right{
    width: 30%;
    display: flex;
    align-self: center;
}
.menu-right img{
    width: 100%;
    max-height: 130px;
}
.menu .menu-content{
    margin: 10px 0;
    /* box-shadow: #767676 5px 5px 2px 0px; */
    border: 1px solid #aaa;
    animation: 0.5s ease-in-out fadein;
}
.menu .menu-content:hover{
    cursor: pointer;
}
.menu h2{
    font-size: 1.5rem;
    margin: 0;
    color: #252525;
}
.menu p{
    font-size: 1rem;
    font-weight: normal;
    color: #252525;
    margin-bottom: 0;
    display: inline-block;
    border-bottom: 1px solid #252525;
    margin-right: 10px;
}
.menu button{
    width: 100%;
    height: 150px;
    border: none;
    /* background-color: #538f62; */
    background: linear-gradient(90deg, #54af69 ,#54aca9);
    color: #252525;
    font-weight: bold;
    font-size: 1.5em;
    text-align: start;
    text-decoration: none;
}
.recent .target-site , .select-site .target-site{
    width: 100%;
    line-height: 75px;
    color: #252525;
    font-size: 1.2em;
    text-align: start;
    position: relative;
    z-index: 10;
    border: 1px solid #aaa;
}
.to-mylist button{
    background-color: rgb(86, 177, 177);
}
.to-mylist h3,.to-mylist p{
    color: #252525;
}
.downloads button{
    background-color: #829084;
}
.to-archives .arc{
    background-color: #538e7a;
}
.mylist .delete-site{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;    
    line-height: 80px;
    background-color: rgba(0, 0, 0, 0);
    color: #252525;
    border: none;
    z-index: 97;
}
.mylist button:hover{
    cursor: pointer;
    color: red;
}
.wrap-add-site{
    position: relative;
    width: 100%;
}
.add-site , .close-site{
    position: absolute;
    top: 0;
    right: 0;
    color: #2cb44c;
    z-index: 99;
    transform: translateY(-17px);
    padding: 10px 0 10px 50px;
}

.add-site.active{
    display: none;
}

.wrap-add-site h3,.wrap-delete-archives h3,.wrap-delete-historys h3,.scroll-content h3{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}


.all-sites ul li{
    margin: 20px 0;
}
.all-sites ul li:hover{
    cursor: pointer;
    opacity: 0.5;
}
.all-sites ul li.active{
    display: none;
}
#all-site{
    overflow: auto;
}
#all-site > div{
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #252525;;
    padding: 10px;
    padding-top: 90px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#all-site .scroll-content{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.scroll-content h3{
    color: #2cb44c;
    font-size: 1rem;
}
.site-button{
    width: 100%;
    line-height: 75px;
    border: none;
    color: #252525;
    font-size: 1.2em;
    text-align: start;
    margin: 5px 0;
}
.site-button:hover,.mylist .sitename:hover{
    cursor: pointer;
    opacity: 0.5;
    color: #2cb44c;
}
.site-button.disabled{
    opacity: 0.2;
}
.site-button.disabled:hover{
    color: #252525;
}

.others{
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid #aaa;
    padding-top: 10px;

}
.others div{
    width:100%;
}
.others-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    box-sizing: border-box;
}
.others-menu a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: #8da493;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #aaa;
    text-decoration: none;
}
.others img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
.others-menu li{
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: #252525;
    padding-left: 10px;
    box-sizing: border-box;
}

/***** アーカイブ、履歴 *****/
.wrap-content .sub-menu{
    margin-top: 40px;
    padding-left: 0;
}
.sub-menu img{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 40px;
}

.sub-menu a{
    width: 100%;
    height: 100%;
    align-self: flex-end;
    text-decoration: none;
    color: #252525;
    background-color: #f9f9f9;
    box-sizing: border-box;
    font-size: 0.7rem;
    display: block;
    padding: 5px 0;
}
.sub-menu p{
    text-align: center;
    margin: 0;
}
.sub-menu div{
    width: 100%;
}
.sub-menu .arc{ 
    margin-right: 10px;
}

#mobile-only{
    display: flex;
}




/***** 検索フォーム *****/


form.site input{
    width: 100%;
    margin: 10px 0;
}

.wrap-seach{
    width: 100%;
    margin: 0 auto;
}
.wrap-seach img{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.wrap-seach h2{
    font-size: 1em;
    margin-bottom: 0;
}
.wrap-seach p{
    display: block;
    font-size: 1em;
}
.wrap-seach input{
    width: 80%;
    line-height: 50px;
    padding-left: 10px;
    font-size: 1em;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: #E7E9EB;
}
.wrap-seach input:hover{
    cursor: pointer;
    background-color: #ddd;
}
.wrap-seach button{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background-color: #E7E9EB;
    color: #252525;
    border: none;
}
.wrap-seach button:hover{
    background-color: #ddd;
    cursor: pointer;
}
.wrap-seach div{
    display: flex;

}
.recent,.select-site{
    margin-top: 10px;
    
}

/***** ローディング *****/
#loader-bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    animation: 0.5s ease-in-out fadein2;
}
#loader{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    font-size: 1em;
}

#loader img{
    transform: rotateZ(-45deg);
    animation: 3s ease-in-out search infinite;
}
#loader p{
    font-weight: bold;
    color: #2cb44c;
}
#loader > p.comment{
    color: #252525;
}
.comment{
    display: none;
}
.comment.active{
    display: block;
}

/***** フッター *****/
/* footer{
    display: none;
    width: 100%;
    height: 150px;
    background-color: #252525;;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    padding: 40px 0;
    z-index: 100;
}
footer ul{
    width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    width: 30%;
    line-height: 40px;
    margin: 20px;
    color: #252525;
    font-weight: bold;
    border-bottom: 1px solid #f9f9f9;
    list-style: none;
    position: relative;
}
footer ul li.help::after{
    content: "help";
    position: absolute;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    color: #ddd;
    margin-bottom: -40px;
}
footer ul li.policy::after{
    content: "privacy policy";
    position: absolute;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    color: #ddd;
    margin-bottom: -40px;
}
footer ul li.contact::after{
    content: "contact me";
    position: absolute;
    font-size: 0.8em;
    left: 0;
    bottom: 0;
    color: #ddd;
    margin-bottom: -40px;
}
footer ul li a{
    color: #252525;
    text-decoration: none;
}
footer ul li a:hover{
    cursor: pointer;
    color: #252525;
    border-color: #252525;
}


footer p{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #252525;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
} */
    

#sub-menu{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}
.sub-menu-pc{
    display: none;
}




/* リザルトページ */
.wrap-result{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}
.wrap-result .reference{
    width: 100%;
    box-sizing: border-box;
    color: #252525;
}
.reference a{
    width: 100%;
    word-wrap: break-word;
}
#textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E7E9EB;
}
.download{
    display: block;
    color: #2cb44c;
}
#audio{
    width: 100%;
    -ms-wrap-margin: 0 auto;
}

/***** アーカイブページ *****/
#archive-button{
    width: 180px;
    height: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    margin-top: 15px;
}
#archives{
    list-style-type: none;
}

#archives li{
    width: 100%;
    margin: 30px 0 25px 0;
    font-weight: bold;
}
#archives li a{
    color: #252525;
}

#archives button{
    text-align: center;
    width: 80px;
}
#archive-button.active{
    color: #f9f9f9;
    background: linear-gradient(90deg, #54af69 ,#54aca9);
}
.wrap-delete-archives , #archives div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#archives div{
    width: 100%;
    background-color: #E7E9EB;
    background: linear-gradient(90deg, #54af69 ,#54aca9);

    border: 1px solid #aaa;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
#archives div:hover{
    cursor:pointer;
}
#delete-archives{
    width: 240px;
    height: 30px;
    border: none;
    color: #252525;
}   
#delete-this{
    width: 80px;
    height: 30px;
    border: none;
    color: #2cb44c;
    font-weight: bold;
    background-color: #3c3c3c;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}   
#delete-archives:hover ,.delete-trigger:hover ,#delete-this:hover {
    color: red;
    cursor: pointer;
}



/***** 履歴ページ *****/
.historys{
    width: 100%;
    box-sizing: border-box;
}
.historys ul , .archives ul{
    margin: 0;
}
.historys ul li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px dashed #ccc;
}
.historys ul li a{
    text-decoration: none;
    color: #252525;
}
.wrap-delete-historys{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/***** 削除ダイアログ *****/
.delete-trigger{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #ffffff;
    color: #252525;
    text-align: end;
    position: absolute;
    right: 0;
    bottom: 7px;
}
.delete-trigger:hover{
    cursor: pointer;
    color: red;
}
.dialog{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #252525;;
}
.dialog.active{
    display: block;
}
.dialog-content{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
.dialog-content div{
    width: 100%;
    text-align: center;
}
.dialog-content p{
    color: #ccc;
    font-weight: bold;
}
.delete-ok , .delete-cancel{
    border: none;
    background-color: #252525;;
    color: #ccc;
    padding: 20px;
    font-weight: bold;
}
.delete-ok:hover .delete-cancel:hover{
    cursor: pointer;
}


/***** お問い合わせページ *****/
.contact-form label{
    color: #252525;
}
.contact-form .name ,.contact-form .email{
    width: 250px;
    height: 30px;
    background-color: #E7E9EB;
    border: none;
}
.contact-form .textarea{
    width: 90%;
    height: 250px;
    background-color: #E7E9EB;
    border: none;
}
.contact-form .submit{
    display: block;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    color: #252525;
    font-weight: bold;
    border: 1px solid #aaa;
    background: linear-gradient(90deg, #538e7a, #2cb44c);
}
.contact-form .submit:hover{
    opacity: 0.5;
    cursor: pointer;
}


/***** プライバシーポリシー *****/
.privacypolicy h4{
    border-left: 2px solid #ddd;
    padding-left: 10px;
}
.privacypolicy ul{
    padding-left: 20px;
}


/***** ヘルプページ *****/
.help h4{
    border-left: 2px solid #ddd;
    padding-left: 10px;
}