<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Feedread</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-233094915-1">
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-233094915-1');
</script>
</head>

<body>
    <header>
        <h1>
            <i class="fas fa-rss fa-2x" style="color: #2bc44c;"></i>Feedread
            <p>web記事を音声で。移動中も効率的なインプットを。</p>
        </h1>
        <!-- <i class="fas fa-bars fa-2x" id="hamburger-trigger" style="color: #2bc44c;"></i>
        <i class="fas fa-times fa-2x" id="hamburger-close" style="color: #2bc44c;"></i> -->
        <a href="/">
            <button class="logout">ログアウト</button>
        </a>
    </header>   

    <div id="hamburger-menu">
        <ul>
            <li class="help"><a href="/help">ヘルプ</a></li>
            <li class="policy"><a href="/policy">プライバシーポリシー</a></li>
            <li class="contact"><a href="/contact">お問い合わせ</a></li>
        </ul>
        <p>copyright Feedread 2022</p>
    </div>

    <div class="wrap">
        {% block content %}
        {% endblock %}
                <!-- サブメニュー -->
                <div class="sub-menu" id="sub-menu">
                    <a href="/home" class="to-home">
                        <div>
                            <img src="../static/img/menu11.svg" alt="">
                            <p>ホーム</p>
                        </div>
                    </a>

                    <a href="/archive" class="to-archive">
                        <div>
                            <img src="../static/img/menu6.svg" alt="">
                            <p>アーカイブ</p>
                        </div>                        
                    </a>

                    <a href="/history" class="to-history">
                        <div>
                            <img src="../static/img/menu9.svg" alt="">
                            <p>履歴</p>
                        </div>
                    </a>

                    <a href="https://myaccount.google.com/" class="to-acount">
                        <div class="acount">
                            <img src="{{ user_photo }}" alt="" id="user_photo">
                            <p>アカウント</p>
                        </div>
                    </a>

                </div>


                <div class="sub-menu-pc">
                    <nav>
                        <li>
                            <a href="/archive">アーカイブ</a>
                        </li>
                        <li>
                            <a href="/history">履歴</a>
                        </li>
                        <li>
                            <a href="/acount">アカウント</a>
                        </li>
                        <li>
                            <a href="/help">ヘルプ</a>
                        </li>
                        <li>
                            <a href="/contact">コンタクト</a>
                        </li>
                        <li>
                            <a href="/policy">ポリシー</a>
                        </li>
                    </nav>
                </div>

                

    </div>
    <!-- <footer>
        <ul>
            <li class="help"><a href="/help">ヘルプ</a></li>
            <li class="policy"><a href="/policy">プライバシーポリシー</a></li>
            <li class="contact"><a href="/contact">お問い合わせ</a></li>
        </ul>
        <p>copyright haruki-yamaguchi 2021</p>
    </footer> -->
    <script>

        // ハンバーガメニュークラス切り替え
        (function ($) {
        $(".background").on("click", function () {
            $(this).toggleClass("active");
            $(".inner-content").toggleClass("active");
        });
        $("#hamburger-trigger").on("click", function(){
            $(this).toggleClass("active");
            $("#hamburger-close").toggleClass("active");
            $("#hamburger-menu").toggleClass("active");
        })
        $("#hamburger-close").on("click", function(){
            $(this).toggleClass("active");
            $("#hamburger-trigger").toggleClass("active");
            $("#hamburger-menu").toggleClass("active");
        })})(jQuery);


        // サイト別に背景色を設定する
        let site = document.querySelectorAll(".sitename");
        console.log(site);
        let pattern = /- EN/;
        for(let i=0;i<site.length;i++){
            let site_value = site[i].getAttribute("value");
            if(site_value.match(/Yahoo/)){
                site[i].classList.add("yahoo");
            }else if(site_value.match(/産経新聞/)){
                site[i].classList.add("sankei");
            }else if(site_value.match(/GIZMODO/)){
                site[i].classList.add("gizmodo");
            }else if(site_value.match(/CNN/) && site_value.match(pattern)){
                site[i].classList.add("cnn-en");
            }else if(site_value.match(/CNN/)){
                site[i].classList.add("cnn");
            }else if(site_value.match(/Techcrunch/) && site_value.match(pattern)){
                site[i].classList.add("techcrunch");
            }else if(site_value.match(/Premierleague/) && site_value.match(pattern)){
                site[i].classList.add("premierleague");
            }
            console.log(site_value);
        }


        
        
        
        user_photo = sessionStorage.getItem("user_photo");
        user_id = sessionStorage.getItem("user_id");
        console.log(user_photo);
        $("#user_photo").attr("src" , user_photo);
        $("#sub-menu .to-home").attr("href" , "/home/" + user_id);
        $("#sub-menu .to-archive").attr("href" , "/archive/" + user_id);
        $("#sub-menu .to-history").attr("href" , "/history/" + user_id);
        $(".to-recent").attr("action" , "/recent/" + user_id);
        $(".to-select").attr("action" , "/select/" + user_id);
        $(".to-mylist").attr("action" , "/mylist/" + user_id);        
        $(".select-site").attr("action" , "/search/" + user_id); 
        $(".to-result").attr("action" , "/result/" + user_id);


    </script>
</body>
</html>