<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>FeedListener</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-233094915-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-233094915-1');
    </script>
</head>

<body>
    <header>
        <div>
            <a href="/">
                <h2><img src="../static/img/sound-wave.png" alt="">FeedListener</h2>
                <h1>高性能音声読み上げサイト</h1>
            </a>
        </div>
    </header>   

    <div class="wrap">
        {% block content %}
        {% endblock %}
                <!-- ローディングアニメーション -->
                <div id="loader-bg">
                    <div id="loader">
                        <img src="../static/img/Search.png" width="100" height="100" alt="Loading..." />
                        <p>Loading...</p>
                        <p class="comment comment1">記事内容を取得中</p>
                        <p class="comment comment2">音声ファイルを作成しています</p>
                    </div>
                </div>
                
                                <!-- pcメニュー -->
                                <div id="sub-menu-pc">
                                    <a href="/">
                                        <button class="logout logout-pc">ログアウト</button>
                                    </a>
                                    <nav>
                                        <a href="/home" class="to-home">
                                           <li>ホーム</li>
                                        </a>
                                        <a href="/archive" class="to-archive">
                                            <li>アーカイブ</li>
                                        </a>
                                        <a href="/history" class="to-history">
                                            <li>履歴</li>
                                        </a>
                                        <a href="/help" class="to-help">
                                            <li>ヘルプ</li>
                                        </a>
                                        <a href="/contact" class="to-contact">
                                            <li>コンタクト</li>
                                        </a>
                                        <a href="/policy" class="to-policy">
                                            <li>ポリシー</li>
                                        </a>
                
                                    </nav>
                                </div>
    </div>

   
    <script>
        // ローディングアニメーション制御
        function loading(){
            $('#loader-bg').css('display', 'flex');
            $('#loader-bg').css('flex-direction', 'column');
            $('#loader-bg').css('justify-content', 'center');
            $('#loader').css('display', 'block');
            $(".comment1").addClass("active");
            setTimeout(() => {
                $(".comment1,.comment2").toggleClass("active");
            }, 2000);
        }
        function loadFinished(){
            let loader = document.getElementById("loader-bg");
            loader.classList.add("fadeout");
        }
        window.addEventListener('load', loadFinished);
    </script>
</body>
</html>