{% extends "base.html" %}
{% block content %}

<div class="wrap-content">
    <p>お問い合わせフォーム</p>
    <small style="color: #717171;" >このフォームはgmailからのお問い合わせのみを受け付けておりますので、他のメールサービスをご利用の方は、お手数ですが feedlyreadly2021@gmail.com まで直接お問合せくださいますようお願い致します。</small>
    <small style="color: #717171;" >通常は2~3日以内に回答いたします。素早い回答ができるよう最善をつくしますが、状況によって回答が遅れる場合がございます。また、内容によっては回答を控えさせていただくこともございますので、あらかじめご了承ください。</small>
    <form method="POST" action="/contact-success/" class="contact-form">
        <h3>お名前</h3>
        <input type="text" class="name" name="name">
        
        <h3>メールアドレス</h3>
        <input type="email" class="email" name="email" placeholder="example@gmail.com">

        <h3>問い合わせ内容</h3>
        <input type="textarea" class="textarea" name="textarea">

        <input type="submit" value="送信" class="submit">
    </form>
</div>

{% endblock %}
