{% extends "base.html" %}
{% block content %}

<div class="wrap-content">
    <div class="help">　
        <h3>アプリの使い方</h3>
        <h4>基本機能</h4>
        <p>当アプリは、web記事に特化した音声読み上げアプリです。URLを入力することで対象サイトを読み上げます。機械学習を用いて記事読み上げに不要な本文中のURLや英字の羅列を排除し、必要な情報のみを出力します。(*サイトによっては精度がやや乱れる場合があります。あらかじめご了承ください。日々改善に努めてまいります。)</p>
        <h4>基本操作</h4>
        <p>トップページの"サイトを追加"ボタンから、サイトを選んで追加します。追加したサイトを選択すると検索フォーム画面へ遷移します。選択したサイトの対象記事URLを入力し検索します。しばらく待つと、音声ファイルが出力されます。</p>
        <h4>音声ファイルダウンロードについて</h4>
        <p>当アプリでは作成した音声ファイルをダウンロードすることが可能です。繰り返し聞きたい記事であればオフラインに保存しておくのも良いでしょう。ファイル形式はmp3を採用しています。</p>
        <h4>閲覧端末</h4>
        <p>レスポンシブ対応しておりますので、スマホからでも利用可能です。(*一部特殊な携帯端末で利用されますと表示が崩れる場合がございます。あらかじめご了承ください。)</p>
        <h4>推奨ブラウザ</h4>
        <p>Google Chrome を推奨しておりますが、Firefox, Microsoft Edge, Safari, その他ブラウザでも問題なく動作可能です。</p>
    
        <p style="margin-top: 100px;">その他不明な点がございましたら<a href="/contact">こちら</a>からお問合せください。</p>
    </div>

</div>

{% endblock %}
