{% extends "base.html" %}
{% block content %}

{% raw %}
<!-- Vueコンテナ -->
<div id="vue-container">
    <!-- コンポーネント -->
    <mycomp />
    <!-- コンポーネントのテンプレート -->
    <script type="text/x-template" id="mycomp-template">
            <div class="dialog">
                <div class="dialog-content">
                    <p>本当に削除してよろしいですか？</p>
                    <div>
                        <button class="delete-cancel">いいえ</button>
                        <button v-on:click="action" class="delete-ok">はい</button>
                    </div>
                </div>
            </div>
    </script>
</div>
{% endraw %}

<div class="wrap-content">
    <div class="wrap-delete-historys">
        <h3>履歴</h3>
        <button class="delete-trigger">履歴削除</button>
    </div>


    <div class="historys">
        <ul style="padding-left: 0;">
            {% set ns = namespace(len = datas|length - 1) %}
            {% for data in datas %}
            <li style="margin: 10px 0; list-style-type: none;"><a href="{{ datas[ns.len][3] }}">{{ datas[ns.len][2]}}</a></li>
            {% set ns.len = ns.len - 1 %}
            {% endfor %}
        </ul>
    </div>

</div>

    <script>
        current_user = sessionStorage.getItem("user_id");
        // コンポーネントのスクリプト
        Vue.component('mycomp',{
            template:'#mycomp-template',  
            methods:{
                action:function(){
                    console.log("clicked!!!");
                    $.get("/ajax/delete-historys/" + current_user, function(){
                        location.reload();
                        console.log("done!!");
                    });
                }
            }
        });
        // Vueオブジェクト作成
        new Vue({
            el:'#vue-container',
        });

        $(".delete-trigger").click(function(){
            $(".dialog").toggleClass("active");
        })
        $(".delete-cancel").click(function(){
            $(".dialog").toggleClass("active");
        })
    </script>

{% endblock %}