{% extends "base.html" %}
{% block content %}

<div class="wrap-content">
    <!-- 最新の投稿 -->
    <form action="/recent" method="POST" class="recent-post menu to-recent">
        <div class="menu-content">
            <button type="submit">
                <div class="menu-left">
                    <h2>最新記事</h2>
                    <p>最新の投稿をCHECK!!</p>
                </div>
                <div class="menu-right">
                    <img src="../static/img/recent.svg" alt="">
                </div>
            </button>  
        </div>
    </form>

    <!-- アーカイブ -->
    <form class="menu to-select" action="/select">
        <div class="menu-content">
            <button type="submit" class="arc">
                <div class="menu-left">
                    <h2>URLで調べる</h2>
                    <p>特定の記事を読み上げます</p>
                </div>
                <div class="menu-right">
                    <img src="../static/img/menu8.svg" alt="">
                </div>
            </button>
        </div>  
    </form>

    <form action="/mylist" method="POST" class="to-mylist menu">
        <div class="menu-content">
            <button type="submit">
                <div class="menu-left">
                    <h2>マイリスト</h2>
                    <p>お気に入りのサイトを登録</p>
                </div>
                <div class="menu-right">
                    <img src="../static/img/menu4.svg" alt="">
                </div>
            </button>
        </div>    
    </form>

    <!-- <form action="{{ url_for('download')}}" method="POST" class="downloads menu">
        <div class="menu-content">
            <button type="submit">
                <div class="menu-left">
                    <h2>ダウンロード</h2>
                    <p>Comming Soon...</p>
                </div>
                <div class="menu-right">
                    <img src="../static/img/menu3.svg" alt="">
                </div>
            </button>
        </div>    
    </form> -->

    <div class="others">
        <div>
            <img src="../static/img/menu13.svg" alt="">

        </div>

        <div class="others-menu">
            <a href="/help">
                <li>ヘルプ</li>
            </a>
   
            <a href="/contact">
                <li>問い合わせ</li>
            </a>
        

            <a href="/policy">
                <li>ポリシー</li>
            </a>
   
        </div>
        
        <div id="secret">
            <p class="user_id">{{ current_user }}</p>
            <p class="user_name">{{ user_name }}</p>
            <p class="user_photo">{{ user_photo }}</p>
        </div>
    </div>

    <script>
            let secret = document.getElementById("secret");
            console.log(secret)
            let user_id = secret.querySelector(".user_id");
            let user_name = secret.querySelector(".user_name");
            let user_photo = secret.querySelector(".user_photo");
            user_id = user_id.textContent;
            user_name = user_name.textContent;
            user_photo = user_photo.textContent;
            console.log(user_id, user_name, user_photo);
            sessionStorage.setItem("user_id" , user_id)
            sessionStorage.setItem("user_name" , user_name)
            sessionStorage.setItem("user_photo" , user_photo)

            user_photo = sessionStorage.getItem("user_photo");
            user_id = sessionStorage.getItem("user_id");
            $("#user_photo").attr("src" , user_photo);

    </script>
{% endblock %}