{% extends "base.html" %}
{% block content %}  

<div class="wrap-home">
    <h3>高性能読み上げ対応サイト</h3>
    <h4>日本語サイト</h4>
    <form class="adapted-site" action="/search" method="POST">
        <button type="submit" name="sitename" class="sitename cnn" value="CNN" onclick="toSearch()">CNN</button>
        <button type="submit" name="sitename" class="sitename gigazine" value="Gigazine" onclick="toSearch()">Gigazine</button>
        <button type="submit" name="sitename" class="sitename gizmodo" value="ギズモード・ジャパン" onclick="toSearch()">ギズモード・ジャパン</button>
        <button type="submit" name="sitename" class="sitename techcrunch" value="TechCrunch" onclick="toSearch()">Techcrunch</button>
        <button type="submit" name="sitename" class="sitename sankei" value="産経新聞" onclick="toSearch()">産経新聞</button>
        <button type="submit" name="sitename" class="sitename cnet" value="cnet" onclick="toSearch()">Cnet</button>
        <button type="submit" name="sitename" class="sitename premierleague" value="プレミアリーグ公式" onclick="toSearch()">プレミアリーグ公式</button>
        <button type="submit" name="sitename" class="sitename yahoo" value="ヤフー" onclick="toSearch()">ヤフー</button>
    </form>

    <h4>英語サイト</h4>
    <form class="adapted-site" action="/search" method="POST">
        <button type="submit" name="sitename" class="sitename cnn" value="CNN" onclick="toSearch()">CNN</button>
        <button type="submit" name="sitename" class="sitename gigazine" value="Gigazine" onclick="toSearch()">Gigazine</button>
        <button type="submit" name="sitename" class="sitename gizmodo" value="GIZMODO" onclick="toSearch()">GIZMODO</button>
        <button type="submit" name="sitename" class="sitename techcrunch" value="TechCrunch" onclick="toSearch()">Techcrunch</button>
        <button type="submit" name="sitename" class="sitename sankei" value="産経新聞" onclick="toSearch()">産経新聞</button>
        <button type="submit" name="sitename" class="sitename cnet" value="cnet" onclick="toSearch()">Cnet</button>
        <button type="submit" name="sitename" class="sitename premierleague" value="premierleague" onclick="toSearch()">Premierleague</button>
        <button type="submit" name="sitename" class="sitename yahoo" value="Yahoo!" onclick="toSearch()">Yahoo!</button>
    </form>

    <div class="wrap-search nomal">
        <form class="search to-result" method="POST" action="/result">
            <h3>通常読み上げ</h3>
            <div>
                <input type="text" id="url" class="url" name="url" placeholder="https://example.com">
                <button type="submit" onclick="loading()"><i class="fas fa-search fa-2x" style="color: #252525;"></i></button>
            </div>
        </form>
    </div>
    
</div>

{% endblock %}