{% extends "base.html" %}
{% block content %}

        
        <div class="login-wrap">
            <div class="login-box">
                <h2>ログイン</h2>
                <p>普段お使いのGoogleアカウントを使用してログインすることができます。</p>
                <a href="/google" class="login-btn" style="text-decoration:none;">
                    <img id="google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
                alt="Google"
                style="width:50px;height:50px;">
                <div class="btn-text">
                    Login with Google
                </div>
                </a> 
            </div>

        </div>
{% endblock %}