{% extends "base.html" %}
{% block content %}  

<div class="wrap-seach">
    <form class="search" method="POST" action="{{ url_for('result') }}">
        <h3 style="font-weight:bold;" >URLで調べる</h3>
        <p>{{ sitename }}の記事URLを入力してください</p>
        <div>
            <input type="text" id="url" class="url" name="url" placeholder="https://example.com">
            <button type="submit" onclick="loading()"><i class="fas fa-search fa-2x" style="color: #2cb44c;"></i></button>
        </div>
    </form>

    <img src="../static/img/search.svg" alt="">

</div>

<div class="wrap-content">

</div>

    <div id="loader-bg">
        <div id="loader">
            <img src="../static/img/Search.png" width="100" height="100" alt="Loading..." />
            <p>Loading...</p>
            <p class="comment comment1">記事内容を取得中</p>
            <p class="comment comment2">音声ファイルを作成しています</p>
        </div>
    </div>

    <script>
        function loading(){
            $('#loader-bg ,#loader').css('display', 'block');
            $(".comment1").addClass("active");
            setTimeout(() => {
                $(".comment1,.comment2").toggleClass("active");
            }, 2000);
        }

        function loadFinished(){
            let loader = document.getElementById("loader-bg");
            loader.classList.add("fadeout");
        }
        window.addEventListener('load', loadFinished);
    </script>
{% endblock %}