{% extends "base.html" %}
{% block content %}  

<div class="wrap-search">
    <form class="search to-result" method="POST" action="/result">
        <h3 style="font-weight:bold;" >URLで調べる</h3>
        <p>記事URLを入力してください</p>
        <div>
            <input type="text" id="url" class="url" name="url" placeholder="https://example.com">
            <button type="submit" onclick="loading()"><i class="fas fa-search fa-2x" style="color: #252525;"></i></button>
        </div>
    </form>

    <img src="../static/img/search.svg" alt="">

</div>

<div class="wrap-content">

</div>

    <div id="loader-bg">
        <div id="loader">
            <img src="../static/img/Search.png" width="100" height="100" alt="Loading..." />
            <p>Loading...</p>
            <p class="comment comment1">記事内容を取得中</p>
            <p class="comment comment2">音声ファイルを作成しています</p>
        </div>
    </div>

    </script>
{% endblock %}